name: Release Docker Image

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*.*.*'   # runs only when you push tags like v1.0.0, v1.0.1, etc.

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # required to push to GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/astle286/chartapp:latest
            ghcr.io/astle286/chartapp:${{ github.ref_name }}
